@section content{
    <!-- Start Testmanual -->
<section class="testmanual py-0" id="testmanual">
    <div class="testmanual-container position-relative">
        <div class="text position-absolute start-50 top-50 translate-middle text-center text-white z-3">
            <h1 class="text-dark position-relative" data-i18n="testmaualTitle">اهلا بك في بورتسودان</h1>
            <p data-i18n="testmaualIntro">
                اهلابك الى ارض الحضارة بوابة السودان الشرقية ارض المواني والبحار والخير حللتم اهلا ونزلتم سهلا مرحبا بكم في مطار بورتسودان الدولي
            </p>
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/img/main/testmanual-1.jpeg" class="d-block w-100" alt="مطار بورتسودان">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/main/testmanual-2.jpeg" class="d-block w-100" alt="مطار بورتسودان">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/main/testmanual-3.jpeg" class="d-block w-100" alt="مطار بورتسودان">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/main/testmanual-4.jpeg" class="d-block w-100" alt="مطار بورتسودان">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/main/testmanual-5.jpeg" class="d-block w-100" alt="مطار بورتسودان">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testmanual -->
<!-- Start About -->
<section class="about py-5 mt-4" id="about">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="text">
                    <h1 class="main-title" data-i18n="aboutTitle">مطار بورتسودان الدولي</h1>
                    <p class="mt-4 lead" data-i18n="aboutIntro1">
                        مطار بورتسودان الدولي هو مطار دولي يخدم مدينة بورتسودان في ولاية البحر الأحمر بالسودان. يعتبر ثاني أكبر مطار في السودان بعد مطار الخرطوم الدولي. تم افتتاحه رسمياً في عام 1992. وهو مطار مجهز بكافة التجهيزات الملاحية والأرضية الحديثة. تقوم شركة مطارات السودان المحدودة  بتشغيل هذا المطار
                    </p>
                    <p class="lead" data-i18n="aboutIntro2">
                        مطار بورتسودان الدولي هو مطار دولي يخدم مدينة بورتسودان في ولاية البحر الأحمر بالسودان. يعتبر ثاني أكبر مطار في السودان بعد مطار الخرطوم الدولي. تم افتتاحه رسمياً في عام 1992. وهو مطار مجهز بكافة التجهيزات الملاحية والأرضية الحديثة. تقوم شركة مطارات السودان المحدودة  بتشغيل هذا المطار
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img src="~/Content/img/main/about.jpg" class="img-fluid" alt="مطار بورتسودان">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
<!-- Start Welcome -->
<section class="welcome py-5 mt-4 bg-white" id="welcome">
    <div class="container">
        <div class=" main-title-section">
            <h2 class="main-title" data-i18n="testmaualTitle">أهلا بك في بورتسودان</h2>
            <p class="lead mt-3 text-center" data-i18n="welcomeIntro"> مرحبا بك في بورتسودان مرحبا بك في بورتسودان مرحبا بك في بورتسودان مرحبا بك في بورتسودان </p>
        </div>
        <div class="row justify-content-center gy-5 mt-5">
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="/News/Index">
                    <div class="box">
                        <i class="fa-regular fa-newspaper"></i>
                        <h3 data-i18n="importantNews">احداث هامة</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="/Hotels/Index">
                    <div class="box">
                        <i class="fa-solid fa-hotel"></i>
                        <h3 data-i18n="hotel">فنادق</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="/Airlines/Index">
                    <div class="box">
                        <i class="fa-solid fa-plane"></i>
                        <h3 data-i18n="airline">شركات الطيران</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="">
                    <div class="box">
                        <i class="fa-solid fa-burst"></i>
                        <h3 data-i18n="tourism">سياحة</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <a href="">
                    <div class="box">
                        <i class="fa-solid fa-house-medical-flag"></i>
                        <h3 data-i18n="hospital">مستشفيات</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Welcome -->
<!-- Start News  -->
<section class="news py-5 mt-4" id="news">
    <div class="container">
        <div class=" main-title-section">
            <h2 class="main-title" data-i18n="importantNews">احداث هامة</h2>
            <p class="lead mt-3 text-center" data-i18n="welcomeIntro"> مرحبا بك في بورتسودان مرحبا بك في بورتسودان مرحبا بك في بورتسودان  </p>
        </div>
        <div class="row my-4 gy-3" id="news-container">
            
        </div>
    </div>
</section>
<!-- End News  -->
    <!-- Start Contact -->
<section class="contact-section position-relative py-5 mt-4" id="contact-section">
    <div class="overlay-blue"></div>
    <div class="container">
        <div class="content  position-relative p-5 my-4 bg-white shadow-lg">
            <h3 class="mb-4" data-i18n="contact">تواصل معنا ...</h3>
            <form action="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" name="name" class="form-control rounded-0" placeholder="الاسم" data-i18n="name">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="email" name="email" class="form-control rounded-0" placeholder="Your Email" data-i18n="email">
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" name="subject" class="form-control rounded-0" placeholder="الموضوع" data-i18n="subject">
                    </div>
                    <div class="col-md-12 mb-3">
                        <textarea name="message" class="form-control rounded-0" rows="8" placeholder="الرسالة" data-i18n="message"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="main-button" data-i18n="send"> ارســال </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Contact -->
}
@section scripts {
    <script>
        $(document).ready(function () {
            function getLastThreeNews() {
            // Make AJAX request to controller action
            $.ajax({
                url: '/News/GetLastThreeNews?lang=' + lang, // Replace with your controller route
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var arrow = lang == 'ar' ? '<i class ="fa-solid fa-arrow-left"></i>' : '<i class ="fa-solid fa-arrow-right"></i>';
                    data.forEach(function (row) {

                        // Append hotel card HTML to #hotel-container
                        $('#news-container').append(
                            `
                            <div class ="col-lg-4 col-sm-6 align-items-stretch">
                                <div class="card border-0 h-100">
                                    <img src="${row.Img}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h3>${row.Title}</h3>
                                        <p class="card-text">
                                            ${row.Content}
                                        </p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between">
                                        <span class="time-ago"></span>
                                        <div class="read-more">
                                            <a href="/News/Index/${row.Id}" >${lang == "ar" ? "للمزيد": "More"} ${arrow} </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                        );
                    });
                },
                error: function (xhr, status, error) {
                    // Handle errors
                    console.error(xhr.responseText);
                }
        });
            }
            getLastThreeNews();
});
</script>
}