
@section content{
        <!-- Start Content -->
<section class="contact py-5 mt-4" id="contact">
    <div class="container">
        <div class=" main-title-section">
            <h2 class="main-title" data-i18n="suggestionTitle"> شكاوي ومقترحات </h2>
            <p class="lead mt-3 text-center" data-i18n="suggestionIntro">
                نسعد بقبول ارائكم ومقترحاتكم لتحسين جودة الخدمة المقدمة
            </p>
        </div>
        <div class="content  position-relative p-5 my-4 bg-white shadow-lg">
            <form id="contact-form">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" name="name" class="form-control rounded-0" placeholder="الاسم" data-i18n="name">
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="email" name="email" class="form-control rounded-0" placeholder="Your Email" data-i18n="email">
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" name="subject" class="form-control rounded-0" placeholder="الموضوع" data-i18n="subject">
                    </div>
                    <div class="col-md-12 mb-3">
                        <textarea name="message" class="form-control rounded-0" rows="8" placeholder="الرسالة" data-i18n="message"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="main-button" data-i18n="send"> ارســال </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Content -->

}


@section scripts{
    <script>

    </script>
}
