@section content{
    <!-- Start Content -->
        <section class="hotal-content py-5 mt-4" id="hotal-content">
            <div class="container">
                <div class="row gy-4 hotel-container align-items-stretch" id="hotel-container">

                </div>
            </div>
        </section>
    <!-- End Content -->

}


@section scripts{
    <script>
        //$(document).ready(function () {
        //    getHotel();
        //});
        getHotel();
    </script>
}
